---

# - name: Refresh inventory
#   ansible.builtin.meta: refresh_inventory

- name: Get checkpoint node
  set_fact:
    node_name: "{{ item }}"
  loop: "{{ groups['all'] }}"
  #when: hostvars[item].tags is defined and  hostvars[item].tags.Name | regex_search("^checkpoint-(.*)$")
  when: hostvars[item].tags is defined and hostvars[item].tags.Name is match("^checkpoint-(.*)$")

- name: Add checkpoint node to the checkpoint group
  add_host:
    name: "{{ node_name }}"
    groups: "{{ group_name }}"
  when: node_name is defined

- name: Get windows node
  set_fact:
    node_name: "{{ item }}"
  loop: "{{ groups['all'] }}"
  #when: hostvars[item].tags is defined and  hostvars[item].tags.Name | regex_search("^windows-(.*)$")
  when: hostvars[item].tags is defined and hostvars[item].tags.Name is match("^windows-(.*)$")

- name: Add windows node to the windows group
  add_host:
    name: "{{ node_name }}"
    groups: "{{ win_group_name }}"
  when: node_name is defined
